<link href='http://fonts.googleapis.com/css?family=Cutive+Mono'
	rel='stylesheet' type='text/css'>
<style>

result_text {
	font-family: 'Cutive Mono', serif;
	font-size: 14px;
}

h1 {
	font-family: 'Cutive Mono';
	font-size: 40px;
	font-weight:bold;
	text-align:center;
}
</style>

<h1>Metea Home</h1>
<br />
<div align="right">
	<result_text>
		<%= @fwa_out_temp %> <br />
		<%= @fwa_in_temp %> <br />
		<%= @fwa_updated_temp %> <br />
	</result_text>
</div>